@model IEnumerable<Lugo.EntityFramework.Index>

@{
    ViewBag.Title = "Contor Apa";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adauga citire contor", "Create")
</p>
@if(Model.Count() > 0)
{
<table border="1" style="border:solid">
    <tr style="border:medium">
        <th>An&nbsp;&nbsp;</th>
        <th>Luna&nbsp;&nbsp;</th>
        <th>Data citire Index&nbsp;&nbsp;</th>

        <th>InVe BaRe&nbsp;&nbsp;</th>
        <th>InNo BaRe&nbsp;&nbsp;</th>
        <th>Dif. BaRe&nbsp;&nbsp;</th>
        
        <th>InVe BaCa&nbsp;&nbsp;</th>
        <th>InNo BaCa&nbsp;&nbsp;</th>
        <th>Dif. BaCa&nbsp;&nbsp;</th>
        
        <th>InVe BuRe&nbsp;&nbsp;</th>
        <th>InNo BuRe&nbsp;&nbsp;</th>
        <th>Dif. BuRe&nbsp;&nbsp;</th>
        
        <th>InVe BaCa&nbsp;&nbsp;</th>
        <th>InNo BaCa&nbsp;&nbsp;</th>
        <th>Dif. BaCa&nbsp;&nbsp;</th>
        
        <th>Comentarii&nbsp;&nbsp;</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IndexYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IndexMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.IndexOldBaieRece)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IndexNewBaieRece)
        </td>
        <td class="colorDiff">
           <b> @Html.DisplayFor(modelItem => item.IndexDiffBaieRece)</b>
        </td>

        
        <td>
            @Html.DisplayFor(modelItem => item.IndexOldBaieCalda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IndexNewBaieCalda)
        </td>
        <td  class="colorDiff">
           <b> @Html.DisplayFor(modelItem => item.IndexDiffBaieCalda)</b>
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.IndexOldBucatarieRece)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IndexNewBucatarieRece)
        </td>
        <td class="colorDiff">
           <b> @Html.DisplayFor(modelItem => item.IndexDiffBucatarieRece)</b>
        </td>

        
        <td>
            @Html.DisplayFor(modelItem => item.IndexOldBucatarieCalda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IndexNewBucatarieCalda)
        </td>
        <td class="colorDiff">
            <b>@Html.DisplayFor(modelItem => item.IndexDiffBucatarieCalda)</b>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
       @* <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IndexId }) |
            @Html.ActionLink("Details", "Details", new { id=item.IndexId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IndexId })
        </td>*@
    </tr>
}


     <div>
            <b>Nota:</b> <br /><b>InVe</b> - Index Vechi; <b>InNo</b> - Index Nou; <b>BaRe</b> - Baie Rece; <b>BaCa</b> - Baie Calda;
             <b>BuRe</b> - Bucatarie Rece; <b>BuCa</b> - Bucatarie Calda

        </div>
</table>
}
